__pycache__/
.venv/
Database/
Install/
Resource/
resource_rc.py
dev_resource_rc.py
test.py
Output/
Database/setup.db
TESTS/check_new_data_notif.py
TESTS/import_data_to_table.py
TESTS/patients_data.xlsx
TESTS/pc_to_phone.py
TESTS/client.py
TESTS/server.py
.vscode/settings.json
Database/setup.db
Prescriptions/1.pdf
Prescriptions/HTML_Prescription.zip
Prescriptions/Prescription.jpeg
Prescriptions/test.pdf
Prescriptions/test.png
Prescriptions/HTML_Prescription/index.html
Prescriptions/HTML_Prescription/jquery.js
Prescriptions/HTML_Prescription/nicepage.css
Prescriptions/HTML_Prescription/nicepage.js
Prescriptions/HTML_Prescription/Prescription.css
Prescriptions/HTML_Prescription/Prescription.html
Prescriptions/HTML_Prescription/images/big_logo.png
Prescriptions/HTML_Prescription/images/prescription.png
Prescriptions/HTML_Prescription/intlTelInput/intlTelInput.css
Prescriptions/HTML_Prescription/intlTelInput/intlTelInput.min.js
Prescriptions/HTML_Prescription/intlTelInput/utils.js
TESTS/change_ip.py
TESTS/cmbox_placeholder.py
TESTS/prescription.py
TESTS/tree_widget.py
TESTS/visit_record.py
TESTS/window_to_pdf.py
UI/main_consultation_dialog_ui.py
UI/main_consultation_dialog_ui.ui
UI/main_consultations_ui.py
UI/main_consultations_ui.ui
UI/main_content_ui.py
UI/main_content_ui.ui
UI/main_dashboard_consultation_dialog_ui.py
UI/main_dashboard_consultation_dialog_ui.ui
UI/main_dashboard_ui.py
UI/main_dashboard_ui.ui
UI/main_doctor_dialog_ui.py
UI/main_doctor_dialog_ui.ui
UI/main_doctor_position_dialog_ui.py
UI/main_doctor_position_dialog_ui.ui
UI/main_doctors_ui.py
UI/main_doctors_ui.ui
UI/main_patients_ui.py
UI/main_patients_ui.ui
UI/main_position_dialog_ui.py
UI/main_position_dialog_ui.ui
UI/main_positions_ui.py
UI/main_positions_ui.ui
